/* hEADER  */



header .logo {
    background-image: url(../img/logo_mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:initial ;
    
}



header .menu-right .btn2 {
    display: none;
}

header .menu-right .btn1 {

    content: url(../icone/Vector.svg);
    
    background-color: #312783;
    border: #312783;

}




header {
    display: flex;
    justify-content: space-around;
}


header nav {
    position: relative;
    width: auto;
}


#myLinks {
    display: none;
    flex-direction: column;
    
    
  }
  #myLinks li a {
    padding: 5px;

  }
.menu-left{
    position: absolute;
    top: 5.6em;
    left: -250px;
    background-color: #312783;
    width: 150px;
    z-index: 5;
}

 
  
.wrapper a.icon {
    background: none;
    display: block;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    
    
}

header nav ul.menu-left li a:hover {
    text-decoration: underline;
}


header nav .menu-right {
    margin: auto;
}

header nav .margin-left {
    margin: auto;
}

header nav ul li a {
    font-size: 15px;
    font-weight: bold;
}